<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Metadados</title>
</head>
<body>
    <h1>Metadados</h1>

    <form action="/upload" id="uploadForm" method="post" enctype="multipart/form-data">
        <input type="file" name="image" required>
        <input type="submit" value="Processar">
    </form>
    
    <div id="remove_metadata"></div>

    <ul id="metadata_list">
        <li>Carregando...</li>
    </ul>

    <script src="../static/script.js"></script>
</body>
</html>